/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "/*";
 @import "bootstrap";
 @import "font-awesome";
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font: 400 14px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 }
body{
  min-height: 100vh;
}
#main{
  min-height: calc(100vh - 60px - 40px);
}
.footer-text{
  height: 40px;
  color: #ffffff;
  padding-top: 10px;
}
a, a:hover{
  text-decoration: none;
}
.navbar{
  padding-top: 0;
  height: 50px;
  background-color: #343a40;
}

.navbar-brand, .navbar-brand:hover{
  font-size: 36px;
  color: #ffffff;
  font-weight: bolder;
  padding: 0;
  cursor: pointer;
}
.navbar-toggler-icon {
  font-size: 23px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
  border: none;
  padding: 0;
}
.navbar-toggler:focus{
  outline:none;
}
#navbarSupportedContent {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 1;
}
.nav-item{
  background-color: #343a40;
  padding-top: 4px;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item a {
  color: #ffffff;
  font-size: 16px;
}
.nav-item:hover a{
  color: #343a40;
}
@media screen and (min-width: 768px){
  .navbar{
    height: 55px;
    z-index: 999;
    background-color: rgba(52, 58, 64, 0.9);
    box-shadow: 0 5px 3px 0 rgba(0,0,0,0.3);
  }
  .navbar-brand, .navbar-brand:hover{
    padding-top: 10px;
    cursor: pointer;
  }
  #navbarSupportedContent{
    position: relative;
    top: 0;
  }
  .nav-item:hover {
    cursor: pointer;
  }
  .nav-item a {
    color: #ffffff;
    font-size: 16px;
  }
  .nav-item:hover a{
    color: #343a40;
  }
  .nav-item {
    background:transparent;
    height: 60px;
    padding-top: 18px;
  }
  .nav-item a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}